<div class="container">
  <div class="mainTitle">
    <h1>Calculate</h1>
  </div>

  <div class="row center mb-3">
    <div class="col-12">
      <p>General Information</p>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="input-group mb-2">
            <span class="input-group-text field-label">Years Owned</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="years_owned"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text field-label">Gallon of Fuel ($)</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="gallon_fuel_cost"
            />
          </div>
          <div class="input-group">
            <span class="input-group-text field-label">Miles</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="miles_value"
            />
            <span class="input-group-text">Per</span>
            <select class="form-select" [(ngModel)]="miles_time">
              <option value="year">Year</option>
              <option value="month">Month</option>
              <option value="week">Week</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row center mb-3">
    <div class="col-12">
      <p>Vehicle Information</p>
    </div>
    <div class="col-12">
      <app-vehicle
        [years_owned]="years_owned"
        [gallon_fuel_cost]="gallon_fuel_cost"
        [miles_value]="miles_value"
        [miles_time]="miles_time"
      ></app-vehicle>
    </div>
  </div>
</div>
